# Configurações do vscode

.vscode/*

# Ignorando o virtual envolvment

.venv/*
Mini_Estacao_CSV/.venv/*

# Ignoando as pasta libraries

Mini_Estacao_CSV/libraries/*
Mini_Estacao_Relogio/libraries/*
Mini_Estacao_Meterologica/libraries*

./TODO.md
